# Too big to fit :(
src/main/resources/pagecounts-20100806-030000
target/scala-2.12/classes/pagecounts-20100806-030000
*.DS_Store
*.class
*.vscode
*.csv
*.out
*.jar
*.json

# bloop and metals
.bloop
.bsp

# metals
project/metals.sbt
.metals

# vs code
.vscode

# scala 3
.tasty

# sbt
project/project/
project/target/
target/

# eclipse
build/
.classpath
.project
.settings
.worksheet
bin/
.cache

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache-main

#general
*.class
.Rproj.user
